---
import { getEntry } from 'astro:content';
import Base from '../layouts/Base.astro';
import AboutIntro from '../components/AboutIntro.astro';
import { withBase } from '../lib/href';

const page = await getEntry('pages', 'about');
const data = page!.data;
---

<Base pageTitle={data.title} pageDescription={data.statement} pageImage={withBase('/og/about.png')}>
  <div class="ez-container ez-prose--wide">
    <AboutIntro />
  </div>
</Base>
